<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846453367990-e3m7f6snhqr64rmt2lefqh067lm7u66d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846453367990-e3m7f6snhqr64rmt2lefqh067lm7u66d</string>
	<key>API_KEY</key>
	<string>AIzaSyD-DROp6x-Z0kxwwhZ5L8McrBlzy4JRxNg</string>
	<key>GCM_SENDER_ID</key>
	<string>846453367990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aduzja.najlepszyVetWarszawa</string>
	<key>PROJECT_ID</key>
	<string>najlepszy-vet-wawa-22012023</string>
	<key>STORAGE_BUCKET</key>
	<string>najlepszy-vet-wawa-22012023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846453367990:ios:d33e344659e6f03d27b217</string>
</dict>
</plist>